*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #434543;
  color: #ECDFCC;
}

.to-do-list{
  margin: 1em 0em;
  padding: 1em;
  width: 50vw;
  display: flex;
  justify-self: center;
  flex-direction: column;
}
.heading{
  text-align: center;
}
.btn-list{
  display: flex;
  flex: 1;
  justify-content: space-around;
}

button{
  padding: .5em 1em;
  border: none;
  color: #697565;
  cursor: pointer;
}

.list_input{
  margin: 2em;
}
.add, .del{
  padding: .1em;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  font-weight: 600;
  background-color: blue;
}

.task{
  display: flex;
  gap: 2em;
  align-items: center;
  font-size: 1.5em;
  border:  1px solid;
  padding: .5em 1em;
  border-radius: .2em;
  margin: .2em;
}

.task-active, .task-completed{
  flex: 1;
}

.list_input{
  display: flex;
  align-items: center;
  gap: 1em;
}

#task_name{
  flex: 1;
  font-size: 1.5em;
  padding: .1em .2em;
  border-radius: .3em;
}

.btn-1, .btn-2, .btn-3{
  flex: 1;
}

.btn-2{
  border-right: 1px solid;
  border-left: 1px solid;
}

.del{
  font-size: .5em;
}

.task-completed{
  text-decoration: line-through;
}